
/************************************************
Formatação
************************************************/
section {
  text-align: center;
}
section.main ul {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
section ul li {
  height: auto;
  padding: 1vw 0vw 2vw 1vw;
  margin: 1rem;
  background-color: #FFFFFF;
  border-radius: 1vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: left;
}

section h1#titulo {
  text-align: center;
  font-size: 3vw;
  padding: 2vw 0 0 0;
  display: inline-block;
  border-bottom: 3px solid #009dff;
}

section ul li h2 {
  font-size: 1.7vw;
  font-weight: bold;
  padding: 0 0 1vw 0;
}

section ul li h2 img {
  width: 1.8vw;
  height: 1.8vw;
  margin: 0 1.2vw 0 0;
}
section ul li p {
  padding: 0 1rem;
}

section ul li p span {
  font-style: italic;
}

section ul li p a {
  color: #009dff;

  /* ADICIONE ESTAS DUAS LINHAS: */
  overflow-wrap: break-word;
  word-break: break-all;
}

section ul li p a:hover {
  text-decoration: underline;
}

/* === Formatacao === */

/************************************************/
/* Responsividade */

@media only screen and (max-width: 768px) {

  section ul {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  section ul li {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }
  section h1 {
    font-size: 2rem;
  }

}