/************************************************
Poppins Font
************************************************/

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0,
    U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/************************************************
Reset
************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************************************************
HTML
************************************************/

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
  background-color: #f7f7f7;
  font-size: calc(15px + 0.390625vw);
  list-style-type: none;
  margin: 0 1vw;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/************************************************
header
************************************************/

header {
  object-fit: cover;
  position: sticky;
  top: 0;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: #FFFFFF;
  backdrop-filter: blur(2px);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  float: left;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 2rem;
}

header nav ul li {
  margin: 10px;
  display: inline;
}

header nav ul li a {
  font-size: 0.8rem;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

header nav ul li a.contato {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1rem;
  border-color: #009dff;
  padding: 0.2rem;
}

header nav ul li a:hover {
  background-color: #009dff;
  color: #0d1b2a;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0.2rem;
}


/************************************************
geral
************************************************/
section {
  text-align: center;
}

section ul li{
  width: 45%;
  height: auto;
  max-height: 500px;
  padding: 1vw 0vw 2vw 1vw;
  margin: 5vw 2vw 5vw 5vw;
  background-color: #FFFFFF;
  border-radius: 1vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

section h1 {
  text-align: center;
  font-size: 3vw;
  padding: 2vw 0 0 0;
  color: #000000;
  display: inline-block;
  border-bottom: 3px solid #009dff;
}

section ul li h2 {
  font-size: 2.5vw;
  padding: 0 0 1vw 0;
}

section ul li h2 img {
  width: 1.8vw;
  height: 1.8vw;
  margin: 0 1.2vw 0 0;
}

section ul li p {
  padding: 0 3vw;
}

section ul li p span {
  font-style: italic;
}

section ul li p a {
  color: #009dff;
}

section ul li p a:hover {
  text-decoration: underline;
}

/* === Formatacao === */
section ul{
  display: flex;
  gap: 0.6rem;
  max-width: 700vw;
  max-height: 6 00vw;
}

section ul li{
  display: block;
}

section ul li p{
  margin: 4px 4px;
  display: inline-block;
}

