/************************************************
Poppins Font
************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
  color: #000000;
  text-decoration: none;
}

/************************************************
Reset
************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
HTML
************************************************/

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
  background-color: #ffffff;
}

html {
  font-size: calc(15px + 0.390625vw);
}

ul li {
  list-style-type: none;
}
/************************************************
header
************************************************/

header {
  object-fit: cover;
  position: sticky;
  top: 0;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header  h2 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  float: right;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo a img {
  height: 2rem;
}


header nav ul li {
  margin: 10px;
  display: inline;
}

header nav ul li a {
  font-size: 0.8rem;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

header nav ul li a.contato {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1rem;
  border-color: #009dff;
  padding: 0.2rem;
}

header nav ul li a:hover {
  background-color: #009dff;
  color: #0d1b2a;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0.2rem;
}

/************************************************
footer
************************************************/
footer {
  padding:1vw 3vw 0 3vw ;
  background-color: rgba(255, 255, 255, 0.8);
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}
footer div a {
    display: flex;
    align-items: center;
}
footer div a img {
  width: 8vw;
}
footer div div {
  display: block;
}
footer div div.logo, div.contact, div.mapSite {
  min-height: 16vw;
  /*Alinha todas as Divs, e por consequências, os títulos*/
}
footer div div h2 {
  font-size: 1.5rem;
  color: #000000;
}
footer div div ul li a {
  font-size: 0.8rem;
  color: #000000;
}
footer div div p {
  font-size: 0.8rem;
  color: black;
  margin: 30px 0;
}
footer div div.logo img {
  width: 5vw;
}
footer div div p {
  margin: 10px 0;
  color: #000000;
}
footer div div.logo ul {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
footer div div.logo ul li span {
  font-size: 1.2rem;
}
footer div div.logo ul li {
  display: flex;
  align-items: center;
}

footer div div > h2 {
  color: #009dff;
}
footer div div ul li > a {
  margin: 10px 0;
}
footer div div ul li a:hover {
  text-decoration: underline #009dff 0.1vw;
}
footer div div p.email {
  color: #009dff;
}
footer div.direitos {
  display: flex;
  justify-content: center;
}
footer div.direitos p {
  color: gray;
  font-size: 0.8rem;
}
