

/************************************************
geral
************************************************/
section {
  text-align: center;
  padding: 0 20vw 5vw 20vw;
}

section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 2rem 0 2rem;
  display: inline-block;
  border-bottom: 3px solid #009dff;
  padding-bottom: 5px;
  color: var(--color-text);
}

section h2 {
  margin: 1.2vw 0 0 0;
}

section ul li h2 {
  font-weight: bold;
  padding: 2rem;
  color: var(--color-text);
}

section div.tudo {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 2vw;
  border-radius: 2vw;
  background-color: white;
}

/*

Esse item terá seu plano de fundo diretamente alterado, podendo haver alteração de cor através do script

*/
section div.tudo>a {
  flex-basis: 40%;
  flex-shrink: 0;
}

section div.tudo a img {
  width: 100%;
  height: 15vw;
  object-fit: fill;
  border-radius: 8px;
  border: 2px solid #000000;
}

section div.texto {
  flex-basis: 60%;
  padding: 0 0 0 2rem;
  text-align: left;
}

section div.texto p {
  color: var(--color-text);
}

section div.texto p.button {
  background-color: var(--color-background);
  text-align: center;
  color: var(--color-text);
  border-radius: 2vw;
  margin: 2vw 0 0 0;
  border: 2px solid #009dff;
}

section ul li div.texto p {
  font-size: 1vw;
}

/************************************************
footer
************************************************/


@media (max-width: 600px) {
  section div.tudo {
    flex-direction: column;
  }

  section div.tudo a img {
    width: 15rem;
    height: 10rem;

  }

  section div.texto {
    padding: 1vw 0 0 0;
    text-align: center;
  }

  section ul li div.texto p {
    font-size: 4vw;
  }

  section div.tudo {
    padding: 3vw;
  }

  section {
    text-align: center;
    padding: 0 10vw 0 10vw;
  }

  section div.tudo {
    padding: 8vw;
  }
}

/************************************************/
/* Responsividade */

@media only screen and (max-width: 768px) {

  section {
    padding: 0 10vw 5vw 10vw;
  }

  section h1 {
    font-size: 1.5rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
  }

  section h2 {
    font-size: 1.2rem;
    margin: 1vw 0 0 0;
  }

  section ul li h2 {
    font-size: 1.2rem;
    padding: 1.5rem;
  }

  section div.texto {
    padding: 1vw 0 0 0;
    text-align: justify;
    margin: 4vw 0;
  }

  section ul li div.texto p {
    font-size: 3vw;
  }

  section ul li div.tudo div.texto p.button {
    margin:  4vw 0 0 0;
  }
  section div.tudo {
    padding: 6vw;
  }
  section ul li h2 {
    margin-top: 3vw;
  }

}