
/************************************************
Introdução
************************************************/

section.introdução {
  margin-top: 2rem;
  text-align: center;
}

section.introdução h2 {
  color: #009dff;
  margin: 0 0 2.5rem 0;
  font-size: 2rem;

}

section.introdução p {
  margin: 0 0 2.5rem 0;
}

/************************************************
Definição
************************************************/

section.explicação h3 {
  margin: 0 0 1rem 0;
  color: #009dff;
}

section.explicação p {
  margin: 0 0 1rem 0;
}

section.explicação p span {
  color: #009dff;
}

section.explicação div.Exemplos {
  display: flex;
  justify-content: space-around;
}

section.explicação div.Exemplos ul li {
  margin: 0 0 35px 0;
  justify-content: space-around;
}

section.explicação ul {
  list-style: none;
  padding-left: 0;
}

section.explicação li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

section.explicação li:before {
  content: '✓';
  color: #009dff;
  margin-right: 0.5em;
}


/************************************************
Motivo
************************************************/
section.motivo h3 {
  margin: 0 0 1rem 0;
  color: #009dff;
}

section.motivo p {
  margin: 0 0 1rem 0;
}

section.motivo p span {
  color: #009dff;
}

section.motivo p.dica-extra {
  background-color: #e6f5ff;
  border-left: 4px solid #009dff;
  padding: 15px;
  border-radius: 5px;

}

section.motivo p.dica-extra span {
  font-weight: bold;
  font-size: 1.1rem;
}

/************************************************
Exercícios
************************************************/
section.exercicio {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
  align-items: center;
}

section.exercicio h3 {
  margin: 0 0 2rem 0;
  color: #009dff;
}

section.exercicio ul li {
  margin: 0 0 35px 0;
}

section.exercicio p {
  padding: 0 2vw 0 0;
}

section.exercicio div img {
  height: 70%;

}

section.exercicio ul {
  list-style: none;
  padding-left: 0;
}

section.exercicio li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

section.exercicio li:before {
  content: '✓';
  color: #009dff;
  margin-right: 0.5em;
}

/************************************************
Referencia
************************************************/
section.referencia h3 {
  margin: 2rem 0 30px 0;
}

section.referencia ul li {
  list-style-type: none;
}

section.referencia ul {
  margin: 2vw;
}

section.referencia ul li {
  margin: 0 0 16px 5px;
}

section.referencia ul li a {
  color: #009dff;

}

section.referencia ul li a:hover {
  text-decoration: underline #009dff 0.1vw;
}


/************************************************/
/* Responsividade */

@media only screen and (max-width: 768px) {
  main {
    margin: 0 5vw;
  }

  section.explicação div.Exemplos {
    flex-direction: column;
  }

  section.explicação iframe {
    width: 100%;
    height: 200px;
    margin-top: 1rem;
  }

  section.exercicio {
    flex-direction: column;
  }

  section.exercicio h3 {
    text-align: center;
  }

  section.exercicio p {
    padding: 0;
    text-align: justify;
    margin-bottom: 1rem;
  }

  section.exercicio div img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  section.introdução h2 {
    font-size: 1.35rem;
    margin: 0 0 3.5vh 0;
  }

  section.introdução p {
    font-size: 0.95rem;
    text-align: justify;
    margin: 0 0 3vh 0;
  }

  section.explicação h3 {
    font-size: 1.35rem;
    text-align: center;
  }

  section.explicação p {
    font-size: 0.95rem;
    text-align: justify;
    margin: 0 0 1.5rem 0;
  }

  section.explicação div.Exemplos h3 {
    font-size: 1.35rem;
    text-align: center;
  }

  section.explicação div.Exemplos ul li {
    margin: 0 0 15px 0;
    font-size: 0.95rem;
  }

  section.motivo h3 {
    font-size: 1.35rem;
    text-align: center;
  }

  section.motivo p {
    font-size: 0.95rem;
    text-align: justify;
    margin: 0 0 1.5rem 0;
  }

  section.motivo p.dica-extra {
    margin: 15px 0 0 0;
    padding: 10px;
  }

  section.exercicio h3 {
    font-size: 1.35rem;
    text-align: center;
  }

  section.exercicio ul li {
    margin: 0 0 15px 0;
    font-size: 0.95rem;
  }

  section.exercicio ul {
    margin: 0 0 3vh 0;
  }

  section.exercicio p {
    font-size: 0.95rem;
    text-align: justify;
  }
  section.referencia h3 {
    font-size: 1.35rem;
    text-align: center;
    margin: 3rem 0 1.5rem 0;
  }
  section.referencia ul li {
    font-size: 0.95rem;
    text-align: justify;
    
  }

}