

/************************************************
introdução
************************************************/
section.introducao h2 {
  color: #009dff;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 2rem;
}

section.introducao p {
  text-align: left;
  margin: 0 0 2.5rem 0;
}



/************************************************
planejamento
************************************************/


section.planejamento h3 {
  color: #009dff;
  margin: 0 0 1rem 40px;
  font-weight: bold;
}

section.planejamento p {
  margin: 0 0 1rem 0;
}

section.planejamento h4 {
  font-weight: bold;
  color: #333333;
  margin: 0 0 1rem 40px;
  font-size: 1.2rem;
}

section.planejamento h3:before {
  content: '➤ ';
  font-weight: bold;
  color: #009dff;
  margin-right: 0.5rem;
}

/************************************************
Dicas práticas 
************************************************/
div.texto_e_video {
  display: flex;
  justify-content: space-between;
}

div.texto_e_video div iframe {
  margin: 20px auto;

}

section.dicas h4 {
  font-weight: bold;
  color: #009dff;
  margin: 0 0 1rem 40px;
  font-size: 1.2rem;
}

section.dicas h4:before {
  content: '➤ ';
  font-weight: bold;
  color: #009dff;
  margin-right: 0.5rem;
}

section.dicas p {
  margin: 0 0 1rem 0;
}

section.dicas ul li {
  margin: 0.5rem 0;
  color: #333333;
  display: flex;
}

section.dicas ul li:before {
  content: '✓';
  color: #009dff;
  margin-right: 0.5rem;
}

section.dicas ul {
  margin: 0 0 1vw 45px;
}

/************************************************
Porção
************************************************/
section.porção {
  justify-content: space-around;
}

section.porção h3 {
  color: #009dff;
  margin: 1rem 0 1rem 40px;
}

section.porção h3:before {
  content: '➤ ';
  font-weight: bold;
  color: #009dff;
  margin-right: 0.5rem;
}

section.porção ul li {
  margin: 0.5rem 0;
}

section.porção p {
  margin: 0.5rem 0;
}

div.texto_e_video div.video p {
  text-align: center;
}

div.texto_e_video div iframe {
  margin: 0vw 5vw 0 10vw;
  width: 325px;
  height: 600px;
}

section.porção ul,
section.porção p {
  margin: 0 0 1vw 45px;
}

/************************************************
adaptação
************************************************/
section.adaptação>div {
  display: flex;
  justify-content: space-between;
}

section.adaptação div div h3 {
  color: #009DFF;
  margin: 1rem 0 1rem 40px;
}

section.adaptação div div p {
  margin: 1rem 0;
}

section.adaptação div div p span {
  color: #009DFF;
  font-size: 1.2rem;
}

section.adaptação p {
  margin: 2rem 0;
}

section.adaptação p.dica-extra {
  background-color: #e6f5ff;
  border-left: 4px solid #009dff;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #e6f5ff;
}

section.adaptação p.dica-extra span {
  font-weight: bold;
  color: #007acc;
}

section.adaptação p.dica-extra {
  background-color: #e6f5ff;
  border-left: 4px solid #009dff;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
}


section.adaptação p.dica-extra span {
  font-weight: bold;
  color: #007acc;
}

section.adaptação img {
  width: 70%;
  border-radius: 6px;
  margin: 3vw 0 0 0;
}

section.adaptação h3:before {
  content: '➤ ';
  font-weight: bold;
  color: #009dff;
  margin-right: 0.5rem;
}

section.adaptação div div p.dicas-adaptação {
  font-weight: bold;
  margin: 0 0 1vw 45px;
}

section.adaptação div div ul {
  margin: 0 0 1vw 55px;
}

section.adaptação div div ul li p:before {
  content: '✓';
  color: #009dff;
  margin-right: 0.5rem;
}

section.adaptação>p {
  font-style: italic;
}


/************************************************
Referências
************************************************/
section.referencias h3 {
  font-weight: bold;
  margin: 1rem 0 1rem 40px;
  color: #009dff;
}

section.referencias ul li {
  list-style-type: none;
  margin: 0 0 20px 20px;
}

section.referencias ul li a {
  color: #009dff;
}

section.referencias ul li a:hover {
  text-decoration: underline #009dff 0.1vw;
}

section.referencias h3:before {
  content: '➤ ';
  font-weight: bold;
  color: #009dff;
  margin-right: 0.5rem;
}

/************************************************/
/* Responsividade */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  section.introducao h2 {
    font-size: 1.2rem;
  }

  section.introducao p {
    font-size: 0.9rem;
    text-align: justify;
  }

  section.planejamento h3 {
    font-size: 1.1rem;
    text-align: justify;
  }

  div.texto_e_video {
    flex-direction: column;
    align-items: center;
  }

  div.texto_e_video div.video p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  section.planejamento h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 2vh 0;
  }

  section.dicas h4 {
    margin: 0 0 0 0;
  }

  section.dicas ul {
    margin: 0 0 1vw 20px;
  }

  section.porção h3 {
    margin: 0 0 1vw 20px;
  }

  section.porção ul,
  section.porção p {
    margin: 0 0 1vw 20px;
  }

  div.texto_e_video div iframe,
  section.porção div.video iframe {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 315 / 560;
    height: auto;
    margin: 0 auto 20px auto;
  }

  section.adaptação>div {
    display: block;
  }
  section.adaptação div div h3 {
    margin: 0 0 1vw 20px;
    text-align: left;
  }

  section.adaptação div div p {
    margin: 0 0 1vw 5px;
    text-align: left;
  }
  section.adaptação div div ul {
    margin: 0 0 1vw 25px;

  }
  section.adaptação div div p.dicas-adaptação {
    margin: 0 0 1vw 20px;
    text-align: left;
  }
  section.adaptação img {
    width: 100%;
    margin: 1vw 0 2vw 0;
  }
  section.adaptação p.dica-extra {
    font-size: 0.9rem; 
    padding: 12px;     
    margin: 15px 0;  
    padding: 8px 10px; 
  }
  section.adaptação p.dica-extra span {
    font-size: 1.1rem;
  }
  section.adaptação>p {
    font-size: 0.9rem;
    text-align: center;
  }



}