/************************************************
Poppins Font
************************************************/

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/************************************************
Reset
************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************************************************
HTML
************************************************/
html {
    font-family: 'Poppins';
    scroll-behavior: smooth;
    background-color: #f3f1f1;
}
html {
    font-size: calc(15px + 0.390625vw);
}
/************************************************
header
************************************************/
header {
    object-fit: cover;
    position: sticky;
    top: 0;
    padding: 0.5rem 3rem 0.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    float: left;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 2rem;
}
header nav ul li{
    margin: 10px;
    display: inline;
    float: right;
}
header nav ul li a {
    font-size: 0.8rem;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}
header nav ul li a.contato {
    border-style: solid;
    border-radius: 5px;
    border-width: 0.1rem;
    border-color: #009DFF;
    padding: 0.2rem;
}
header nav ul li a:hover {
    background-color: #009DFF;
    color: #0D1B2A;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 0.2rem;
}
/************************************************
geral
************************************************/
section{
    text-align: center;
}
section h1 {
    color: #0D1B2A;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    display: inline-block;
    border-bottom: 3px solid #009DFF;
    padding-bottom: 5px;
}

section p.meio {
    text-align: center;
    font-size: 20px;
    margin: 0vw 20rem 2rem 20rem;
}

section ul {
    display: flex;
    text-align: center;
    padding: 0 2rem 0 2rem;
    justify-content: center;
}
section p {
    color: #2e2e2e;
    font-size: 20px;
    text-align: left;
}

section ul li h2 {
    font-size: 1.4vw;
    font-weight: bold;
    text-align: left; 
}

section ul li {
    flex-direction: column;  
    align-items: center;
    background-color: white;
    border: 2px ;
    border-radius: 10px;
    margin: 0 1rem 0 1rem;
}

section ul li img {
    margin: 1rem 0 0 0;
    border: 2px solid #616161;
    border-radius: 10px;
    width: 90%;
    height: 280px;
    object-fit: cover;
}

section ul li p {
    margin-top: 8px;
    text-align: justify;
    font-size: 0.9rem;
}

section ul li div.texto {
    margin: 0 2rem 2rem 2rem;
}

section ul li {
    width: 30%;
    transition: all 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

}
section ul li div.texto p a {
    color: #009DFF;
    font-weight: bold;
}
section ul li:hover {
    transform: translateY(-5px);
}

/************************************************
footer
************************************************/
footer {
    background-color: white;
}
footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 3vw 0 3vw;
}
footer div div {
    display: block;
}

footer div div h2 {
    font-size: 1.5vw;
}
footer div div ul li a {
    font-size: 1vw;
}
footer div div p {
    font-size: 1vw;
}
footer div a {
    display: flex;
    align-items: center;
}
footer div a img {
    width: 8vw;
}
footer div div.logo img {
   width: 5vw;
}
footer div div p {
    margin: 10px 0;
}
footer div div.logo ul {
    display: flex;
    justify-content: space-around;
}
footer div div > h2 {
    color: #009DFF;
}
footer div div ul li {
    margin: 10px 0;
}
footer div div ul li a:hover {
    text-decoration: underline #009DFF 0.1vw;
}
footer div div p.email {
    color: #009DFF;
}
footer div.direitos  {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px;
}
footer div.direitos p {
    color: gray;
}
/************************************************
celular
************************************************/
@media only screen and (max-width: 920px) {
    header {
    padding: 0.5rem 0rem 0.5rem 0rem;
    
}

}