/************************************************
Poppins Font
************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
  color: #000000;
  text-decoration: none;
}

/************************************************
Reset
************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
HTML
************************************************/

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

html {
  font-size: clamp(0.9375rem, calc(0.9119rem + 0.1136vw), 3rem);
}

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
  background: linear-gradient(
    90deg,
    rgba(42, 178, 237, 1) 0%,
    rgba(42, 156, 237, 1) 50%,
    rgba(42, 159, 237, 1) 100%
  );
}

ul li {
  list-style-type: none;
}
:root {
  --color-background: #f7f7f700;
  --color-text: #030303;
}

/************************************************
Collors
************************************************/

main p,
strong,
a {
  color: var(--color-text);
}

li {
  color: var(--color-background);
}

body {
  background-color: var(--color-background);
}

button {
  background-color: #30afff;
  color: #f7ffff;
  padding: 12px 150px;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main section {
  max-width: 550px;
  display: none;
  text-align: center;
  background-color: #ffffff;
  padding: 3rem 3rem;
  margin: 2;
  border-radius: 8px;
}

main section p {
  margin: 1vw 0;
  color: rgba(0, 0, 0, 0.589);
}

main section button {
  margin: 1vw 0;
}

main section h1 {
  width: 100%;
}

main section h3 {
  text-align: justify;
  margin: 1vw 0;
}

main section h4 {
  text-align: left;
  margin: .5vw 0 0 0;
}

.pag1 {
  display: block;
}

form label.texto {
  display: block;
  width: 100%;
}

form label.texto input {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: 0.5s ease;
  box-sizing: border-box;
  margin: 0;
}


form label.texto input:placeholder {
  color: #94a3b8;
}

form label.texto input:hover {
  outline: none;
  border-color: rgb(48 175 255);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(48 175 255 / 30%);
}

form label.opcao {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  margin: .5rem 0;
  background-color: #f8fafc;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.4s ease;
  width: 100%;
  box-sizing: border-box;
}

form label.opcao:hover {
    border-color: rgb(48 175 255);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(48 175 255 / 30%);
}

form label.opcao input[type="radio"] {
  width: 18px;
  height: 18px;
}
